SOAPWebServisTesti/SOAPWebServisTesti/Connected Services/HesapMakinesiServis/HesapMakinesi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Toplama">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ilkSayi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ikinciSayi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToplamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ToplamaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ToplamaSoapIn">
    <wsdl:part name="parameters" element="tns:Toplama" />
  </wsdl:message>
  <wsdl:message name="ToplamaSoapOut">
    <wsdl:part name="parameters" element="tns:ToplamaResponse" />
  </wsdl:message>
  <wsdl:portType name="HesapMakinesiSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Toplama">
      <wsdl:input message="tns:ToplamaSoapIn" />
      <wsdl:output message="tns:ToplamaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HesapMakinesiSoap" type="tns:HesapMakinesiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Toplama">
      <soap:operation soapAction="http://tempuri.org/Toplama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HesapMakinesiSoap12" type="tns:HesapMakinesiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Toplama">
      <soap12:operation soapAction="http://tempuri.org/Toplama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HesapMakinesi">
    <wsdl:port name="HesapMakinesiSoap" binding="tns:HesapMakinesiSoap">
      <soap:address location="https://localhost:44359/HesapMakinesi.asmx" />
    </wsdl:port>
    <wsdl:port name="HesapMakinesiSoap12" binding="tns:HesapMakinesiSoap12">
      <soap12:address location="https://localhost:44359/HesapMakinesi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>